/*   Mainpage stylesheet
     by Kevin Zink 2004 */

A:link , A:visited {color: red; }
A:hover {color: rgb(12, 6, 119); }

body 
{
background-color: white; 
color: black; 
margin: 0; 
padding: 0; 
}

h1 
{ 
border-style: solid; 
border-color: rgb(249,160,160);
border-width: 5px 3px 5px 0; 
margin: .3em 0;
padding: .5em 1em .1em 2.5%; 
background: rgb(118, 22, 22) none repeat scroll 0%; 
color: white; 
font-family: Arial, Verdana, sans-serif; 
font-style: normal; 
font-variant: normal; 
font-weight: bold;
font-size: 230%;
line-height: 1em; 
font-size-adjust: none;
font-stretch: normal; 
}

h2 
{ 
border-style: solid; 
border-color: rgb(200, 22, 22); 
background-color: rgb(249,160,160);
border-width: 2px 2px 2px 0; 
margin: 0 40% .5em 0;
padding: .2em 0 .2em 5%; 
color: rgb(12, 6, 119);
font: bold 1.1em sans-serif; 
line-height: 1em; 
font-size-adjust: none; 
font-stretch: normal; 
}

h2 a
{
text-decoration: none;
}

h2.flush
{
border-width: 2px; 
padding-left: 2%;
margin-right: 30%;
}

.subtext
{
font-size: 80%;
font-style: italic;
margin: 0 0 1em 0;
padding: 0;
}

.picbox
{
clear: left;
padding: .1em; 
margin: .4em 0 0 0; 
background: rgb(133,133,133); 
border-color: red;
border-width: 1px;
border-style: outset;
}

.codebox 
{ 
clear: left;
width: 100%;
padding: .1em; 
background: rgb(249,175,175); 
font: 1em monospace;
border-color: red;
border-width: 3px;
border-style: outset;
}

p#footer 
{ 
clear: left;
margin: 2em 45% 1em 5%; 
font: .7em serif; 
}

div.gentry 
{
margin: 0 40% 1em 5%; 
overflow: visible; 
font: .90em sans-serif; 
}

div.gentry ul
{ 
    padding-left: 0em;
    margin-left: 1em;
    margin-top: 0;
}

div.gentry li
{ 
padding: .1px;
}
